body {
    font-family: -apple-system,"Avenir Next","Segoe UI",BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #420083
}

a {
    color: #420083;
    text-decoration: none;
    background-color: rgba(0,0,0,0)
}

a,.link {
    color: #420083
}

.mb-30 {
    margin-bottom: 30px !important
}

.three-col {
    column-count: 3;
    column-gap: 3rem
}

.three-col>* {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
}

.no-pad {
    padding: 0
}

.btn {
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    padding: .375rem 1.875rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn-outlined-primary {
    border: 2px solid #6954bf;
    background-color: #6954bf;
    color: #fff
}

.btn-outlined-primary:hover,.btn-outlined-primary:focus {
    background-color: #420083;
    border-color: #420083;
    color: #fff
}

.btn-primary {
    color: #fff;
    background-color: #420083;
    border-color: #420083
}

.btn-primary:hover,.btn-primary:focus {
    background-color: #420083;
    border-color: #420083
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.shopify-wrap-block {
    margin: 2em 0em
}

.nav-tabs {
    margin-bottom: 2em;
    justify-content: center;
    border-bottom: none;
    margin-top: 1em
}

@media only screen and (max-width: 767px) {
    .nav-tabs {
        flex-direction:column
    }
}

.nav-tabs .nav-item {
    flex: 1
}

.nav-tabs .nav-link {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #420083;
    padding: 8px 62px;
    display: block;
    width: 100%;
    padding: 12px 10px 12px;
    font-size: 15px;
    font-weight: bold;
    height: 100%
}

.nav-tabs .nav-link.active {
    border: 1px solid #ddd;
    background-color: #420083;
    color: #fff
}

.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus {
    color: #fff;
    background-color: #420083
}

.set-width {
    max-width: 950px;
    margin: 0 auto
}

.price-wrapper .heading-wrapper {
    text-align: center;
    margin-bottom: 30px
}

.price-wrapper .heading-wrapper span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #420083;
    margin-bottom: 10px
}

.price-wrapper .heading-wrapper h2 {
    font-size: 36px;
    color: #000
}

.price-wrapper .price-packages {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px
}

@media only screen and (min-width: 992px) {
    .price-wrapper .price-packages {
        flex-direction:row;
        margin-left: -15px;
        margin-right: -15px
    }
}

.price-wrapper .price-packages .package {
    flex: 0 0 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: #f8f9fc;
    box-shadow: 0 3px 6px rgba(0,0,0,.08);
    margin-bottom: 30px
}

@media only screen and (min-width: 992px) {
    .price-wrapper .price-packages .package {
        flex:0 0 calc(33.3333% - 30px);
        width: calc(33.3333% - 30px);
        padding: 50px 12px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0
    }
}

.price-wrapper .price-packages .package img {
    margin-bottom: 30px
}

.price-wrapper .price-packages .package h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 30px
}

.price-wrapper .price-packages .package .view {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px
}

.price-wrapper .price-packages .package .view span {
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    border-radius: 100px;
    background-color: #420083;
    box-shadow: 0 3px 6px rgba(0,0,0,.08)
}

.price-wrapper .price-packages .package .price {
    font-size: 26px;
    font-weight: 700;
    color: #420083;
    margin-bottom: 30px
}

.price-wrapper .price-packages .btn {
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 35px
}

.price-wrapper .price-packages .btn.btn-sm {
    padding: .375rem .9375rem
}

.price-wrapper .includes-wrapper {
    background: #e9efff;
    background: -moz-linear-gradient(90deg, #e9efff 0%, #eaf0ff 50%, white 100%);
    background: -webkit-linear-gradient(90deg, #e9efff 0%, #eaf0ff 50%, white 100%);
    background: linear-gradient(90deg, #e9efff 0%, #eaf0ff 50%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9efff", endColorstr="#ffffff", GradientType=1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 950px;
    margin: 0 auto
}

@media only screen and (min-width: 768px) {
    .price-wrapper .includes-wrapper {
        flex-direction:row
    }
}

@media only screen and (min-width: 992px) {
    .price-wrapper .includes-wrapper {
        padding:50px 90px
    }
}

.price-wrapper .includes-wrapper h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 20px
}

@media only screen and (min-width: 768px) {
    .price-wrapper .includes-wrapper>div {
        flex:0 0 calc(50% - 30px);
        width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px
    }
}

.price-wrapper .includes-wrapper>div.left {
    text-align: center;
    margin-bottom: 30px
}

@media only screen and (min-width: 768px) {
    .price-wrapper .includes-wrapper>div.left {
        text-align:right;
        margin-bottom: 0
    }
}

.price-wrapper .includes-wrapper>div.left img {
    max-height: 150px
}

.price-wrapper .includes-wrapper>div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .price-wrapper .includes-wrapper>div.right {
        text-align:left
    }
}

.price-wrapper .includes-wrapper>div.right a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline
}

.report-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff2b6;
    border-radius: 8px;
    padding: 30px 15px;
    margin-top: 40px;
    margin-bottom: 50px
}

@media only screen and (min-width: 1240px) {
    .report-cta {
        flex-direction:row;
        padding: 30px
    }
}

.report-cta .text {
    text-align: center;
    margin-bottom: 20px
}

@media only screen and (min-width: 1240px) {
    .report-cta .text {
        text-align:left;
        padding-right: 15px;
        margin-bottom: 0
    }
}

.report-cta .text h3 {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    line-height: 35px;
    color: #726a46;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0
}

.report-cta .text p {
    font-size: 18px;
    line-height: 32px;
    color: #26282d;
    margin-bottom: 0
}

.report-cta .btn {
    padding: 11px 35px;
    font-size: 21px;
    line-height: 26px;
    text-transform: none;
    font-weight: 600;
    border-radius: 5px
}

.your-plan-block {
    margin: 0 auto 40px;
    border-radius: 19px;
    background: #e9efff;
    padding: 27px 20px 15px 20px
}

.your-plan-block .installed-free {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.08px;
    margin: 0;
    padding-bottom: 10px
}

.your-plan-block .installed-free img {
    margin: 0 11px 0 -6px;
    width: 28px
}

.your-plan-block .heading {
    margin-bottom: 14px
}

.your-plan-block ul li {
    color: #170b06;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -0.08px;
    position: relative;
    padding-bottom: 10px;
    padding-left: 41px
}

.your-plan-block ul li:before {
    content: "";
    position: absolute;
    left: 2px;
    top: -1px;
    width: 18px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/checkbox.svg)
}

.all-in-one-accessibility-wrap .accessibility-settings h2 {
    font-size: 36px;
    color: #000;
    text-align: center
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form {
    margin: 0 auto 40px;
    border-radius: 19px;
    background: #e9efff;
    padding: 27px 20px 30px 20px
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .all-one-accessibility-form-inner {
    margin: 0 auto;
    max-width: 750px
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form *:not(.form-text) {
    font-size: 17px
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .form-control:focus,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .form-select:focus {
    border-color: rgba(66,0,131,.3803921569);
    box-shadow: 0 0 0 .25rem rgba(66,0,131,.2)
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:checked,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:checked+label,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:checked+label:before,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ced4da;
    border-radius: 100%;
    background: #fff
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:checked+label:after,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:not(:checked)+label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #420083;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form [type=radio]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .col-form-label {
    font-weight: bold
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper .option,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper .option {
    width: 130px;
    height: 130px;
    padding: 10px !important;
    text-align: center;
    background-color: #fff;
    outline: 4px solid #fff;
    outline-offset: -4px;
    border-radius: 10px
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper .option::after,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper .option::after {
    content: none !important;
    display: none !important
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper .option img,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper .option img {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper input[type=radio]:not(:checked)+label::before,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper input[type=radio]:not(:checked)+label::before {
    content: none;
    display: none
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper input[type=radio]:checked+label,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper input[type=radio]:checked+label {
    outline-color: #80c944
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-size-wrapper input[type=radio]:checked+label::before,.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .icon-type-wrapper input[type=radio]:checked+label::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: auto;
    right: -4px;
    top: -4px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' class='aioa-feature-on'%3E%3Cg%3E%3Ccircle fill='%2343A047' cx='12.5' cy='12.5' r='12'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M12.5,1C18.9,1,24,6.1,24,12.5S18.9,24,12.5,24S1,18.9,1,12.5S6.1,1,12.5,1 M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0L12.5,0z'%3E%3C/path%3E%3C/g%3E%3Cpolygon fill='%23FFFFFF' points='9.8,19.4 9.8,19.4 9.8,19.4 4.4,13.9 7.1,11.1 9.8,13.9 17.9,5.6 20.5,8.4 '%3E%3C/polygon%3E%3C/svg%3E") no-repeat center center/contain !important;
    border: none
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .save-changes-btn {
    text-align: center
}

.all-in-one-accessibility-wrap .accessibility-settings .all-one-accessibility-form .save-changes-btn .btn {
    border-radius: .36rem;
    padding: 10px 22px
}

.hide {
    display: none !important
}

.widget-state {
    margin: 0 auto 40px;
    border-radius: 19px;
    background: #fff;
    padding: 27px 20px 15px 20px;
    max-width: 600px;
    box-shadow: #ddd 0px 0px 11px 0px
}

.widget-state .widget-state_info {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px
}

.widget-state .widget-state_indicator {
    background: rgba(0,110,11,.1);
    color: #006e0b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 20px
}

.widget-state .widget-state_indicator img {
    margin-right: 8px;
    position: relative;
    top: -1px
}

.widget-state .widget-state_indicator.disabled {
    background: rgba(110,0,0,.1);
    color: #6e0000
}

.widget-state .widget-state_indicator.disabled {
    background: rgba(110,0,0,.1);
    color: #6e0000
}

.widget-state .custom-switcher {
    border-top: 1px solid rgba(182,182,182,.6);
    border-bottom: 1px solid rgba(182,182,182,.6);
    padding: 13px 0;
    width: 100%;
    position: relative;
    margin-bottom: 28px;
    display: block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.widget-state .custom-switcher .custom-switcher_inp {
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0;
    width: 50px;
    height: 24px
}

.widget-state .custom-switcher .custom-switcher_body {
    background: #6c757d;
    border-radius: 25px;
    width: 50px;
    height: 24px;
    position: relative;
    transition: background .2s ease;
    cursor: pointer;
    overflow: hidden;
    margin-right: 15px
}

.widget-state .custom-switcher .custom-switcher_body .on {
    text-transform: uppercase;
    color: #420083;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    -webkit-user-select: none;
    user-select: none
}

.widget-state .custom-switcher .custom-switcher_body .off {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    -webkit-user-select: none;
    user-select: none
}

.widget-state .custom-switcher .custom-switcher_body:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-100%);
    background: #420083;
    display: block;
    position: absolute;
    transition: transform .2s ease,border-radius .2s ease
}

.widget-state .custom-switcher .custom-switcher_body:after {
    content: "";
    display: block;
    width: 32px;
    height: 20px;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #fff;
    transition: transform .2s ease;
    top: 50%;
    left: 2px;
    position: absolute;
    transform: translateY(-50%)
}

.widget-state .custom-switcher .custom-switcher_label {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: none
}

.widget-state .custom-switcher .custom-switcher_inp:checked+.custom-switcher_body:before {
    transform: translate(0);
    border-radius: 25px
}

.widget-state .custom-switcher_inp:checked+.custom-switcher_body:after {
    transform: translate(14px, -50%)
}

.widget-state .custom-switcher_inp:checked+.custom-switcher_body .off {
    display: none
}

.widget-state .custom-switcher_inp:checked+.custom-switcher_body .on {
    display: block
}

.widget-state .custom-switcher_right {
    display: flex;
    align-items: center
}

.widget-state .helper {
    position: absolute;
    left: -227px;
    bottom: -24px;
    display: flex;
    align-items: flex-end;
    padding-right: 100px;
    transform: translate(0);
    transition: opacity .1s ease,visibility .1s ease,transform .1s ease
}

.widget-state .helper .arrow {
    position: absolute;
    top: -19px;
    right: 13px;
    transform: translate(0);
    transition: transform .15s ease
}

.widget-state .helper .text {
    font-size: 16px;
    line-height: 16px;
    color: #420083;
    font-weight: 500;
    letter-spacing: -0.23px;
    text-transform: none
}

body #load {
    background-color: #fff;
    display: block;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9901;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .35s ease-out;
    transition: all .35s ease-out;
    top: 0;
    left: 0
}

body #load .load-wrap {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center
}

body #load .load-wrap img,body #load .load-wrap svg {
    height: 85px;
    max-width: 85%;
    width: auto
}

body #load .text-wrapper {
    color: #420083;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: inline-block
}

body #load .text-wrapper::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    border-radius: 50%;
    border-top: 2px solid #240090;
    border-right: 2px solid rgba(0,0,0,0);
    animation: spinner .6s linear infinite;
    border-left: 2px solid #240090;
    border-bottom: 2px solid #240090;
    vertical-align: middle
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

body #load.loader-removed {
    opacity: 0;
    visibility: hidden
}

.load-wrap .img-wrapper {
    margin-bottom: 1em
}

span.discount {
    font-size: 1.25rem;
    color: #000;
    font-weight: 500;
    display: block
}

.icon-custom-position-wrapper .custom-switcher,.icon-custom-size-wrapper .custom-switcher {
    width: 100%;
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_inp_2,.icon-custom-size-wrapper .custom-switcher .custom-switcher_inp_2 {
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0;
    width: 70px;
    height: 35px
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_body,.icon-custom-size-wrapper .custom-switcher .custom-switcher_body {
    background: #fff;
    border-radius: 25px;
    width: 70px;
    height: 35px;
    position: relative;
    transition: background .2s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: -1px 2px 6px #bbb
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_body:before,.icon-custom-size-wrapper .custom-switcher .custom-switcher_body:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-100%);
    background: #fff;
    display: block;
    position: absolute;
    transition: transform .2s ease,border-radius .2s ease
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_body:after,.icon-custom-size-wrapper .custom-switcher .custom-switcher_body:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: #a6a7a8;
    border: 1px solid #a6a7a8;
    transition: transform .2s ease;
    top: 50%;
    left: 6px;
    position: absolute;
    transform: translateY(-50%)
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_label,.icon-custom-size-wrapper .custom-switcher .custom-switcher_label {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: none
}

.icon-custom-position-wrapper .custom-switcher .custom-switcher_inp_2:checked+.custom-switcher_body:before,.icon-custom-size-wrapper .custom-switcher .custom-switcher_inp_2:checked+.custom-switcher_body:before {
    transform: translate(0)
}

.icon-custom-position-wrapper .custom-switcher_inp_2:checked+.custom-switcher_body:after,.icon-custom-size-wrapper .custom-switcher_inp_2:checked+.custom-switcher_body:after {
    transform: translate(33px, -50%);
    background: #420083
}

.icon-custom-position-wrapper .custom-switcher_right,.icon-custom-size-wrapper .custom-switcher_right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center
}

.icon-custom-position-wrapper .input-group .form-control,.icon-custom-size-wrapper .input-group .form-control {
    border-right: 0
}

.icon-custom-position-wrapper .input-group .form-control::-webkit-inner-spin-button,.icon-custom-position-wrapper .input-group .form-control::-webkit-outer-spin-button,.icon-custom-size-wrapper .input-group .form-control::-webkit-inner-spin-button,.icon-custom-size-wrapper .input-group .form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.icon-custom-position-wrapper .input-group .input-group-text,.icon-custom-size-wrapper .input-group .input-group-text {
    font-weight: 500;
    background-color: #fff;
    border-left: 0
}

.icon-custom-position-wrapper .description,.icon-custom-size-wrapper .description {
    font-size: 14px !important;
    color: #5a5a5a
}

.icon-custom-position-wrapper .custom-position-controls {
    margin-top: 8px
}

.icon-custom-position-wrapper .custom-position-controls .row .col-auto {
    width: 209px
}

.icon-custom-size-wrapper .custom-size-controls {
    margin-top: 8px
}

.icon-custom-size-wrapper .custom-size-controls .row {
    align-items: center
}

.icon-custom-size-wrapper .custom-size-controls .row .col-auto.preview {
    width: 254px
}

.icon-custom-size-wrapper .custom-size-controls .row .col-auto.controls {
    width: 397px
}

.icon-custom-size-wrapper .custom-size-controls .custom-size-preview {
    height: 230px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 10px 24px 10px
}

.icon-custom-size-wrapper .custom-size-controls .custom-size-preview .value {
    font-size: 21px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%)
}

.icon-custom-size-wrapper .custom-size-controls .custom-size-preview .value span {
    font-size: 21px
}

.tooltip.switcher-tooltip .tooltip-inner {
    max-width: none
}

/*# sourceMappingURL=style.css.map */
